*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
}

#sizepage{
    background-color: rgba(0, 0, 0, 0.543);
    color: white;
    width: 90vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    bottom: 30%;

    border-radius: 20px;
}

